---
layout: page
title: "About"
description: "Hey, this is JustXYH."
header-img: "img/about-bg.jpg"
---


<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        我
    </blockquote>
    <p style="text-align:center;">
    IM WHAT IM<br />我永远都爱这样的我<br />快乐是快乐的方式不只一种<br /> 最荣幸是谁都是造物者的光荣<br />不用闪躲为我喜欢的生活而活<br />不用粉墨 就站在光明的角落<br />我就是我是颜色不一样的烟火<br />天空海阔 要做最坚强的泡沫<br />我喜欢我让蔷薇开出一种结果<br />孤独的沙漠里 一样盛放的赤裸裸<br />多么高兴在琉璃屋中快乐生活<br />对世界说 甚么是光明和磊落<br />我就是我是颜色不一样的烟火<br />天空海阔 要做最坚强的泡沫<br />我喜欢我让蔷薇开出一种结果<br />孤独的沙漠里一样盛放的赤裸裸……<br />
    </p>
    <p style="text-align:right;">
        —— <a href="http://music.baidu.com/song/930068?isshare=1">我-张国荣</a>
    </p>

</div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
